.amarillo{
    color: #f9d950;
}

.blanc{
    background-color: white;
}

.alturax{
    height: 600px;
}

.anchox{
    width: 80%;
}

.btn-sig2 {
    color: #F9F9F9;
    border-radius: 16px;
    background-color: #E41F1A;
    
}


.btnAncho{
    width: 120px;
}

