:root{
	--gray-border: #898989;
	--green-border: #228B22;
	--green-ok: #35AF22;
}

.circle{
	height: 35px;
  width: 35px;
	border: 5px solid var(--gray-border);
	border-radius: 100%;
	display: inline-block;
	background-color: #F9F9F9;
}

.done{
	background-color: var(--green-ok);
	border: 5px solid var(--green-border);
}

.current{
	border: 5px solid var(--green-border);
}

.right{
    text-align: right;
}

.check{
	color: white;
	font-size: 16px;
}

.green-line{
	width: 10px;
	border: 2px solid var(--green-border);
	opacity: 1;
}

.gray-line{
    width: 10px;
    border: 2px solid var(--gray-border);
		opacity: 1;
}

/*----------------------FORMULARIO-----------------------*/

.formulario{
    margin: 2% 7% 8% 7%;
    background-color: #F9F9F9;
    border-radius: 16px;
    padding: 2% 5%;
}

.z{
 z-index: 1;
 position: relative;
 bottom: 30px;
 left:110px;
}

select{
    margin-top: 30px;
}

.btn-sig{
    color: #F9F9F9;
    border-radius: 16px;
    background-color: #E41F1A;
    margin-left: 87%;
}

.btn-prev{
    color: #F9F9F9;
    border-radius: 16px;
    background-color: #E41F1A;
    /* margin-left: 87%; */
}