@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap');

*{
	font-family:  'Poppins', 'Roboto Condensed', 'Arial', sans-serif;
  font-style: normal;
}

a{
    color: rgb(0, 0, 0);
}

h4{
    font-weight: bold;
}

.form-user {
    max-width: 1600px;
    padding: 15px;
}

.editar {
    float: right;
    border:0;
    background-color: transparent;
  }
  
.form-user .form-floating:focus-within {
    z-index: 2;
}


.r{
    height: 50px;
}

.btn-rojo{
    background-color:#e41f1a;
    border-radius: 53px;
    color: white;
}

.btn-gris{
    background-color:#8B8B8B;
    border-radius: 53px;
    color: white;
}

.btn-primary-c{
	background-color:rgba(228, 31, 26, 1);
	border-color: rgb(228, 31, 26);
  border-radius: 8px;
  color: #e41f1a;
	color: white;

	transition-timing-function: ease-out;
	transition-duration: .5s;
	transition-property: all;
}

.btn-primary-c:hover{
	background-color:rgba(228, 31, 26, 0);
	border-color: #e41f1a;
  border-radius: 32px;
	color: #e41f1a;

	transition-duration: 1s;
}

.btn-secondary{
	background-color:rgba(33, 46, 70, 0);
	border-color: rgba(33, 46, 70, 1);
  border-radius: 8px;
	color: rgba(33, 46, 70, 1) , white;
	transition-timing-function: ease-in;
	transition-duration: 1s;
	transition-property: all;

	transition-timing-function: ease-out;
	transition-duration: .5s;
	transition-property: all;
	
}

.btn-secondary:hover{
	/* background-color: rgba(33, 46, 70, 1); */
	/* border-color: rgba(33, 46, 70, 1); */
  border-radius: 32px;
	color: rgba(33, 46, 70, 1);
	/* color: rgb(255, 255, 255); */

	transition-duration: 1s;
}




.form-control:focus {
    color: #212529;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(33 46 70 / 25%);
}


